body {
    background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 0px;
}

.section1, .section2, .section3, .section4 {
    background: rgb(101, 4, 165);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 50%;
    width: 90%;
    color: white;
    text-align: center;
    border: solid 4px white;
}

.section2, .section4 {
    height: 20%;
}